body {
	background-color: #000000;
	background-size: cover;
	background-attachment: fixed;
	font-family: arial, sans-serif;
	font-size: 14px;
	color: white;
	margin: 0px;
}

p {
	text-align: center;
	width: 60%;
	margin: auto;
}

hr {
	width: 80%
}

table {
	border-radius: 10px;
	padding: 20px;
	margin: auto;
	text-align: left;
}

fieldset {
	border: 0;
}

td {
	padding: 5px;
}

textarea {
	height: 100px;
	vertical-align: top;
}

a {
	color: pink;
}

a:visited {
	color: purple;
}

#home {
display: inline-block;
width: 150px;
height: 50px;
background: url("../images/HomePageWhite.png");
overflow:hidden;
text-indent:100%;
white-space:nowrap;
}

#home:hover {
display: inline-block;
width: 150px;
height: 50px;
background: url("../images/HomePageColor.png");
}

#signs {
display: inline-block;
width: 150px;
height: 50px;
background: url("../images/12SignsWhite.png");
overflow:hidden;
text-indent:100%;
white-space:nowrap;
}

#signs:hover {
display: inline-block;
width: 150px;
height: 50px;
background: url("../images/12SignsColor.png");
}

#contact {
display: inline-block;
width: 150px;
height: 50px;
background: url("../images/ContactUsWhite.png");
overflow:hidden;
text-indent:100%;
white-space:nowrap;
}

#contact:hover {
display: inline-block;
width: 150px;
height: 50px;
background: url("../images/ContactUsColor.png");
}

.banner {
display: inline-block;
padding-top:10px;
margin: auto;
}

.sign{
text-align: center;
display: block;
margin: auto;
padding-top: 75px;
}

.carousel-inner{
  width: auto;
  min-height: 350px;
}

.carousel-caption {
    top: 0;
    bottom: auto;
}
@media screen and (max-width: 767px) {
 
		#home{
			background: url("../images/HomePageWhite.png");
			margin: auto;
			display:block;
		}
		#contact{
			background: url("../images/ContactUsWhite.png");
			margin: auto;
			display:block;			
		}
		#signs{
			background: url("../images/12SignsWhite.png");
			margin: auto;
			display:block; 
		}
		
		.content {
			background-color: black;
			text-align: center;
		}
		
		.wrapper {
			margin-left: auto;
			margin-right: auto;
			width: 100%;
			height: 100%;
		}

		.header {
			background-color: black;
			text-align: center;
		}
		
		.footer {
			position: relative;
			display: block;
			padding: 10px 50px 0px 50px;
			margin: auto;
			background-color: #191919;
			text-align: center;
		}
		
}
@media screen and (min-width: 768px) {
		body{
			background-image: url("../images/planet_and_moon.jpg");
		}
		
		.content {
			background-color: black;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			padding: 50px;
			padding-bottom: 100px;
			text-align: center;
		}
		
		.main {
			margin: 50px 160px 50px 160px;
		}
		
		.footer {
			position: relative;
			display: block;
			height: 25px;
			padding: 10px 50px 0px 50px;
			border-bottom-left-radius: 20px;
			border-bottom-right-radius: 20px;
			margin: auto;
			background-color: #191919;
			text-align: center;
		}
		
		.wrapper {
			margin-left: auto;
			margin-right: auto;
			width: 100%;
			height: 100%;
		}


		.header {
			background-color: black;
			text-align: center;
		}
}